/* Webtop Defaults */
* { margin:0; padding:0 }
html,body { margin:0; padding:0; width:100%; height:100%; overflow:hidden; font-family:Arial; font-size:14px; }
svg, #canvas { margin:0; padding:0; width:100%; height:100%; position:absolute; left:0; top:0; }
a { outline: 0 }

/* Window Properties */
.window { 
	border:1px solid #000; position:absolute; background: #efefef;
	-moz-border-radius-topleft:3px; -webkit-border-top-left-radius:4px;
	-moz-border-radius-topright:3px; -webkit-border-top-right-radius:4px 
}
.hidden { border-width:0; -moz-border-radius-topleft:0; -webkit-border-top-left-radius:0;
	-moz-border-radius-topright:0; -webkit-border-top-right-radius:0 }

.window-header { border:1px solid #000; cursor:default; padding:2px; height:20px; margin:-1px -1px 0 -1px; background:#70C3FA; 
	-moz-border-radius-topleft:3px; -webkit-border-top-left-radius:4px;
	-moz-border-radius-topright:3px; -webkit-border-top-right-radius:4px  
}
.window-header strong { float:left; padding:1px 0 0 5px }
.window-header span { float:right; margin:5px 5px 0 0; display:block; width:100px; height:18px; text-align:right }
.window-header span a { border:1px solid #000; padding:0 3px 1px 3px; text-decoration:none; line-height:6px; font-size:10px; margin-right:3px }

.window em { display:block; position:absolute; background:url('../images/ui-nodes.png') no-repeat; width:24px; height:29px; margin-top:-3px; z-index:9999 }
.window em.input { left:-9px; background-position:-24px 0 }
.window em.output { right:-9px }

.input.over { background-position:-24px -29px !important }
.output.over { background-position:0 -29px }
.input.on { background-position:-24px -58px !important }
.output.on { background-position:0 -58px !important }


div.window-inner { width:100%; }
div.window-inner iframe { width:100%; height:100%  }

.loading { background:#efefef url('ajax-loader.gif') no-repeat 50% 50%; }
.drag { background:#70C3FA; opacity:0.8;  }
.hidden { display:none }

#tasks { margin:0; padding:0; display:inline }
#tasks li { display:inline; margin-right:10px;  }
#tasks li a { border:1px solid #000; padding:2px 5px }
#start-button { height:50px; border-right:solid #000; border-width:0 1px 0 0; background:#fff; margin:0 10px 0 0; padding:0 20px 0 10px }
#quicklaunch { position:absolute; z-index:1000 }

.ui-context-menu {
	z-index:1000;
	padding:3px 0;
	margin:0;
	background-color:#eee;
	width:150px;
}

.ui-context-menu ul {
	list-style:none;
}

.ui-context-menu li {
	background-color:#eee;
}

.ui-context-menu li ul {
	display:none;
	position:absolute;
	z-index:1000;
	border:1px solid #ccc;
	width:150px;
	left:120px;
	margin-top:-15px
}

.ui-context-menu li:hover {
	background:#C5D0EB;
}

.ui-has-sub {
	background:url('sprite.png') 135px 5px no-repeat;
}